body{
margin:0;
font-family:Arial;
background:#f4f6f8;
}

.header{
background:#111;
color:white;
text-align:center;
padding:15px;
}

.container{
display:flex;
height:90vh;
}

.builder-panel{
width:35%;
background:white;
padding:20px;
overflow:auto;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.preview-panel{
flex:1;
padding:30px;
}

select,input,button{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;
}

button{
background:#111;
color:white;
cursor:pointer;
}

button:hover{
background:#333;
}

.field-card{
background:#fafafa;
padding:10px;
margin-bottom:10px;
border-radius:5px;
box-shadow:0 0 5px rgba(0,0,0,0.1);
}

.field-actions button{
width:auto;
margin-right:5px;
padding:5px 10px;
}

.preview-panel form{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.preview-panel label{
font-weight:bold;
display:block;
margin-top:15px;
}

.preview-panel input,
.preview-panel textarea{
width:100%;
padding:10px;
margin-top:5px;
}
